<!doctype html>
<html lang="en" data-bs-theme="light dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Formulaire de demande d’immatriculation à l’Université de Genève pour un‑e candidat‑e non titulaire d’un certificat de maturité ou d’un titre jugé équivalent.">
    <meta name="creator" content="Université de Genève"> 
    <meta name="author" content="Julien Jespersen">
    <title>NPM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- PDFMAKE CORE 0.2.6 CDN PRODUCTION -->
    <!-- <script src="pdfmake-0.2.6/build/pdfmake.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.6/pdfmake.min.js" integrity="sha512-7BzHjLXs8xehClrkJEtJtAwXxcbLast87k+XekuItHxrMr/v6POWkoKS2/8CU6DHdIjY+A4NwvsBQ8PxoRH7xQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- PDFMAKE VFS_FONTS 0.2.6 LOCAL PRODUCTION -->
    <!-- <script src="pdfmake-0.2.6/build/vfs_fonts.js"></script> -->
    <!-- PDFMAKE VFS_FONTS 0.2.6 CDN PRODUCTION -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.6/vfs_fonts.min.js" integrity="sha512-P0bOMePRS378NwmPDVPU455C/TuxDS+8QwJozdc7PGgN8kLqR4ems0U/3DeJkmiE31749vYWHvBOtR+37qDCZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        .form-label {
            font-weight: lighter;
        }
        .form-control {
            font-weight: bolder;
        }
    </style>

    </head>

<body class="container">
    <section class="">
        <h1 id="h1">Demande d’immatriculation à l’Université de Genève pour un‑e candidat‑e non titulaire d’un certificat de maturité ou d’un titre jugé équivalent</h1>
        <div class="row bg-info-subtle border border-4 border-info text-info-emphasis mb-3">
            <div class="col-1 position-relative">
                <i class="fa-solid fa-pen-to-square fa-lg position-absolute top-50"></i>
            </div>
            <p class="col-11 pt-2">Les données saisies dans ce formulaire sont automatiquement enregistrées dans <b>ce</b> navigateur, vous pouvez quitter cette page à tout moment et continuer la saisie plus tard.</p>
        </div>
        <div class="row bg-warning-subtle border border-4 border-warning text-warning-emphasis mb-3">
            <div class="col-1 position-relative">
                <i class="fa-solid fa-mask fa-lg position-absolute top-50"></i>
            </div>
            <p class="col-11 pt-2">Après avoir saisi vos informations et téléchargé votre PDF, si vous partagez ce navigateur ou cette machine avec d’autres personnes, n’oubliez pas de supprimer vos informations de ce formulaire, à l’aide du bouton «Tout effacer»!</p>
        </div>

        <div id="app">
            <form aria-label="Formulaire de demande d’immatriculation" class="form">
                <button class="btn btn-warning my-3" style="color: black !important" type="reset" @click="reset"><i class="fa-solid fa-eraser"></i> Tout effacer</button>
                <fieldset id="fieldset-person"><legend><i class="fa-solid fa-user"></i> Informations personnelles</legend>
                    <label for="personFirstName" class="form-label">Prénom(s)</label>
                    <input id="personFirstName" type="text" v-model="personFirstName" class="form-control mb-3">

                    <label for="personLastName" class="form-label">Nom(s)</label>
                    <input id="personLastName" type="text" v-model="personLastName" class="form-control mb-3">

                    <label for="personMaidenName" class="form-label">Nom(s) de célibataire</label>
                    <input id="personMaidenName" type="text" v-model="personMaidenName" class="form-control mb-3">

                    <label for="personBirthDate" class="form-label">Date de naissance</label>
                    <input id="personBirthDate" type="date" v-model="personBirthDate" class="form-control mb-3">

                    <label for="personGender" class="form-label">Genre</label>
                    <select id="personGender" v-model="personGender" class="form-select mb-3 fw-bold">
                        <option selected></option>
                        <option value="Femme">Femme</option>
                        <option value="Homme">Homme</option>
                        <option value="Autre">Autre</option>
                    </select>

                    <label for="personNativeLanguage" class="form-label">Langue maternelle</label>
                    <input id="personNativeLanguage" type="text" v-model="personNativeLanguage" class="form-control mb-3">

                    <label for="personLanguages" class="form-label">Autre(s) langue(s) maîtrisée(s)</label>
                    <input id="personLanguages" type="text" v-model="personLanguages" class="form-control mb-3">

                    <label for="personMaritalStatus" class="form-label">État civil</label>
                    <select id="personMaritalStatus" v-model="personMaritalStatus" class="form-select mb-3 fw-bold">
                        <option selected></option>
                        <option value="Célibataire">Célibataire</option>
                        <option value="Marié‑e">Marié‑e</option>
                        <option value="Divorcé‑e">Divorcé‑e</option>
                        <option value="Veuf/ve">Veuf/ve</option>
                    </select>
                </fieldset>

                <fieldset id="fieldset-citizen"><legend><i class="fa-solid fa-passport"></i> Informations de nationalité</legend>
                    <label for="citizenNationality" class="form-label">Nationalité</label>
                    <input id="citizenNationality" type="text" v-model="citizenNationality" class="form-control mb-3">

                    <label for="citizenOriginCanton" class="form-label">Canton d’origine</label>
                    <input id="citizenOriginCanton" type="text" v-model="citizenOriginCanton" class="form-control" aria-describedby="citizenOriginCantonHelp">
                    <div id="citizenOriginCantonHelp" class="form-text mb-3">
                        si Suisse‑sse, indiquez le canton
                    </div>                

                    <label for="citizenAuthorisation" class="form-label">Permis</label>
                    <select id="citizenAuthorisation" v-model="citizenAuthorisation" class="form-select fw-bold" aria-describedby="citizenAuthorisationHelp">
                        <option selected></option>
                        <option value="b">B</option>
                        <option value="c">C</option>
                        <option value="r">Réfugié‑e</option>
                        <option value="d">DFAE</option>
                    </select>
                    <div id="citizenAuthorisationHelp" class="form-text mb-3">
                        si non Suisse‑sse, indiquez le type de permis d’établissement
                    </div>
                </fieldset>

                <fieldset id="fieldset-contact"><legend><i class="fa-solid fa-address-card"></i> Informations de contact</legend>
                    <label for="contactEmail" class="form-label">Adresse e‑mail</label>
                    <input id="contactEmail" type="text" v-model="contactEmail" class="form-control" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text mb-3">
                        saisissez une adresse e‑mail valide
                    </div>
                    <label for="contactPhone" class="form-label">Téléphone</label>
                    <input id="contactPhone" type="text" v-model="contactPhone" class="form-control mb-3">
                    
                    <label for="contactAddress" class="form-label">Adresse</label>
                    <input id="contactAddress" type="text" v-model="contactAddress" class="form-control mb-3">
                    
                    <label for="contactPostalCode" class="form-label">Code postal</label>
                    <input id="contactPostalCode" type="text" v-model="contactPostalCode" class="form-control mb-3">
                    
                    <label for="contactCity" class="form-label">Localité</label>
                    <input id="contactCity" type="text" v-model="contactCity" class="form-control mb-3">
                    
                    <label for="contactCountry" class="form-label">Pays ou canton</label>
                    <input id="contactCountry" type="text" v-model="contactCountry" class="form-control" aria-describedby="contactCountryHelp">
                    <div id="contactCountryHelp" class="form-text mb-3">
                        si votre adresse est en Suisse, indiquez le canton
                    </div>
                </fieldset>
                <fieldset id="fieldset-school"><legend><i class="fa-solid fa-school"></i> Parcours scolaire</legend>
                    <div class="form-text">Études supérieures antérieures</div>
                    <div class="row border-bottom mb-5">
                        <div class="col-md-6">
                            <label for="schoolStudentNumber" class="form-label">Numéro d’immatriculation suisse</label>
                            <input id="schoolStudentNumber" type="number" pattern="\d{8,8}" inputmode="numeric" min="0" maxlength="10" v-model="schoolStudentNumber" class="form-control" aria-describedby="schoolStudentNumberHelp">
                            <div id="schoolStudentNumberHelp" class="form-text mb-3">
                                à remplir uniquement si vous avez déjà été immatriculé‑e dans une université, une école polytechnique ou une haute école suisse
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="schoolFailure" class="form-label">Avez-vous subi un échec définitif?</label>
                            <select id="schoolFailure" v-model="schoolFailure" class="form-select fw-bold" aria-describedby="schoolFailureHelp">
                                <option selected></option>
                                <option value="oui">Oui</option>
                                <option value="non">Non</option>
                            </select>
                            <div id="schoolFailureHelp" class="form-text mb-3">
                                ne répondez «oui» que si vous avez subi un échec définitif d’une université, d’une école polytechnique ou d’une haute école suisse
                            </div>
                        </div>
                    </div>
                    <div class="form-text">Études entreprises dès la fin de l’école primaire</div>
                    <div class="row border-bottom mb-5">
                        <div class="col-md-5">
                            <label for="school1" class="form-label">Nom de l’école</label>
                            <input id="school1" data-lead-entry="1" type="text" v-model="school1" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <label for="schoolLocation1" class="form-label">Pays ou canton</label>
                            <input id="schoolLocation1" type="text" v-model="schoolLocation1" class="form-control mb-3">
                        </div>
                        <div class="col-md-2">
                            <label for="schoolStart1" class="form-label">Début</label>
                            <input id="schoolStart1" type="number" min="1930" max="2030" step="1" v-model="schoolStart1" class="form-control mb-3" placeholder="AAAA">
                        </div>
                        <div class="col-md-2">
                            <label for="schoolEnd1" class="form-label">Fin</label>
                            <input id="schoolEnd1" type="number" min="1930" max="2030" step="1" v-model="schoolEnd1" class="form-control mb-3" placeholder="AAAA">
                        </div>
                        <div class="col-md-7 offset-md-2">
                            <label for="schoolDiploma1" class="form-label">Nom du diplôme obtenu</label>
                            <input id="schoolDiploma1" type="text" v-model="schoolDiploma1" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <label for="schoolDiplomaYear1" class="form-label">Année d’obtention</label>
                            <input id="schoolDiplomaYear1" type="number" min="1930" max="2030" step="1" v-model="schoolDiplomaYear1" class="form-control mb-3" placeholder="AAAA">
                        </div>
                    </div>
                    <div class="row border-bottom mb-5">
                        <div class="col-md-5">
                            <label for="school2" class="form-label">Nom de l’école</label>
                            <input id="school2" data-lead-entry="2" type="text" v-model="school2" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <label for="schoolLocation2" class="form-label">Pays ou canton</label>
                            <input id="schoolLocation2" type="text" v-model="schoolLocation2" class="form-control mb-3">
                        </div>
                        <div class="col-md-2">
                            <label for="schoolStart2" class="form-label">Début</label>
                            <input id="schoolStart2" type="number" min="1930" max="2030" step="1" v-model="schoolStart2" class="form-control mb-3" placeholder="AAAA">
                        </div>
                        <div class="col-md-2">
                            <label for="schoolEnd2" class="form-label">Fin</label>
                            <input id="schoolEnd2" type="number" min="1930" max="2030" step="1" v-model="schoolEnd2" class="form-control mb-3" placeholder="AAAA">
                        </div>
                        <div class="col-md-7 offset-md-2">
                            <label for="schoolDiploma2" class="form-label">Nom du diplôme obtenu</label>
                            <input id="schoolDiploma2" type="text" v-model="schoolDiploma2" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <label for="schoolDiplomaYear2" class="form-label">Année d’obtention</label>
                            <input id="schoolDiplomaYear2" type="number" min="1930" max="2030" step="1" v-model="schoolDiplomaYear2" class="form-control mb-3" placeholder="AAAA">
                        </div>
                    </div>
                    <div class="row border-bottom mb-5">
                        <div class="col-md-5">
                            <label for="school3" class="form-label">Nom de l’école</label>
                            <input id="school3" data-lead-entry="3" type="text" v-model="school3" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <label for="schoolLocation3" class="form-label">Pays ou canton</label>
                            <input id="schoolLocation3" type="text" v-model="schoolLocation3" class="form-control mb-3">
                        </div>
                        <div class="col-md-2">
                            <label for="schoolStart3" class="form-label">Début</label>
                            <input id="schoolStart3" type="number" min="1930" max="2030" step="1" v-model="schoolStart3" class="form-control mb-3" placeholder="AAAA">
                        </div>
                        <div class="col-md-2">
                            <label for="schoolEnd3" class="form-label">Fin</label>
                            <input id="schoolEnd3" type="number" min="1930" max="2030" step="1" v-model="schoolEnd3" class="form-control mb-3" placeholder="AAAA">
                        </div>
                        <div class="col-md-7 offset-md-2">
                            <label for="schoolDiploma3" class="form-label">Nom du diplôme obtenu</label>
                            <input id="schoolDiploma3" type="text" v-model="schoolDiploma3" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <label for="schoolDiplomaYear3" class="form-label">Année d’obtention</label>
                            <input id="schoolDiplomaYear3" type="number" min="1930" max="2030" step="1" v-model="schoolDiplomaYear3" class="form-control mb-3" placeholder="AAAA">
                        </div>
                    </div>
                    <div class="row border-bottom mb-5">
                        <div class="col-md-5">
                            <label for="school4" class="form-label">Nom de l’école</label>
                            <input id="school4" data-lead-entry="4" type="text" v-model="school4" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <label for="schoolLocation4" class="form-label">Pays ou canton</label>
                            <input id="schoolLocation4" type="text" v-model="schoolLocation4" class="form-control mb-3">
                        </div>
                        <div class="col-md-2">
                            <label for="schoolStart4" class="form-label">Début</label>
                            <input id="schoolStart4" type="number" min="1930" max="2030" step="1" v-model="schoolStart4" class="form-control mb-3" placeholder="AAAA">
                        </div>
                        <div class="col-md-2">
                            <label for="schoolEnd4" class="form-label">Fin</label>
                            <input id="schoolEnd4" type="number" min="1930" max="2030" step="1" v-model="schoolEnd4" class="form-control mb-3" placeholder="AAAA">
                        </div>
                        <div class="col-md-7 offset-md-2">
                            <label for="schoolDiploma4" class="form-label">Nom du diplôme obtenu</label>
                            <input id="schoolDiploma4" type="text" v-model="schoolDiploma4" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <label for="schoolDiplomaYear4" class="form-label">Année d’obtention</label>
                            <input id="schoolDiplomaYear4" type="number" min="1930" max="2030" step="1" v-model="schoolDiplomaYear4" class="form-control mb-3" placeholder="AAAA">
                        </div>
                    </div>
                </fieldset>

                <fieldset id="fieldset-job"><legend><i class="fa-solid fa-briefcase"></i> Parcours professionnel</legend>
                    <div class="row border-bottom mb-5">
                        <div class="col-md-6">
                            <label for="job1" class="form-label">Fonction exercée</label>
                            <input id="job1" data-lead-entry="1" type="text" v-model="job1" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="jobLocation1" class="form-label">Nom de l’entreprise</label>
                            <input id="jobLocation1" type="text" v-model="jobLocation1" class="form-control mb-3">
                        </div>
                        <div class="col-md-2 offset-md-3">
                            <label for="jobStart1" class="form-label">Début</label>
                            <input id="jobStart1" type="number" min="1930" max="2030" step="1" v-model="jobStart1" class="form-control mb-3" placeholder="AAAA">
                        </div>
                        <div class="col-md-2">
                            <label for="jobEnd1" class="form-label">Fin</label>
                            <input id="jobEnd1" type="number" min="1930" max="2030" step="1" v-model="jobEnd1" class="form-control mb-3" placeholder="AAAA">
                        </div>
                        <div class="col-md-5">
                            <label for="jobDuration1" class="form-label">Équivalent en nombre de mois à 100%</label>
                            <input id="jobDuration1" type="number" min="1" max="999" step="1" v-model="jobDuration1" class="form-control mb-3" style="width: 6rem;" placeholder="MMM">
                        </div>
                    </div>
                    <div class="row border-bottom mb-5">
                        <div class="col-md-6">
                            <label for="job2" class="form-label">Fonction exercée</label>
                            <input id="job2" data-lead-entry="2" type="text" v-model="job2" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="jobLocation2" class="form-label">Nom de l’entreprise</label>
                            <input id="jobLocation2" type="text" v-model="jobLocation2" class="form-control mb-3">
                        </div>
                        <div class="col-md-2 offset-md-3">
                            <label for="jobStart2" class="form-label">Début</label>
                            <input id="jobStart2" type="number" min="1930" max="2030" step="1" v-model="jobStart2" class="form-control mb-3" placeholder="AAAA">
                        </div>
                        <div class="col-md-2">
                            <label for="jobEnd2" class="form-label">Fin</label>
                            <input id="jobEnd2" type="number" min="1930" max="2030" step="1" v-model="jobEnd2" class="form-control mb-3" placeholder="AAAA">
                        </div>
                        <div class="col-md-5">
                            <label for="jobDuration2" class="form-label">Équivalent en nombre de mois à 100%</label>
                            <input id="jobDuration2" type="number" min="1" max="999" step="1" v-model="jobDuration2" class="form-control mb-3" style="width: 6rem;" placeholder="MMM">
                        </div>
                    </div>
                    <div class="row border-bottom mb-5">
                        <div class="col-md-6">
                            <label for="job3" class="form-label">Fonction exercée</label>
                            <input id="job3" data-lead-entry="3" type="text" v-model="job3" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="jobLocation3" class="form-label">Nom de l’entreprise</label>
                            <input id="jobLocation3" type="text" v-model="jobLocation3" class="form-control mb-3">
                        </div>
                        <div class="col-md-2 offset-md-3">
                            <label for="jobStart3" class="form-label">Début</label>
                            <input id="jobStart3" type="number" min="1930" max="2030" step="1" v-model="jobStart3" class="form-control mb-3" placeholder="AAAA">
                        </div>
                        <div class="col-md-2">
                            <label for="jobEnd3" class="form-label">Fin</label>
                            <input id="jobEnd3" type="number" min="1930" max="2030" step="1" v-model="jobEnd3" class="form-control mb-3" placeholder="AAAA">
                        </div>
                        <div class="col-md-5">
                            <label for="jobDuration3" class="form-label">Équivalent en nombre de mois à 100%</label>
                            <input id="jobDuration3" type="number" min="1" max="999" step="1" v-model="jobDuration3" class="form-control mb-3" style="width: 6rem;" placeholder="MMM">
                        </div>
                    </div>
                </fieldset>
                <fieldset id="fieldset-grad"><legend><i class="fa-solid fa-graduation-cap"></i> Études envisagées à l’UNIGE</legend>
                    <label for="unigeFaculty" class="form-label">Faculté/institut/centre</label>
                    <select id="unigeFaculty" v-model="unigeFaculty" class="form-select mb-3 fw-bold">
                        <option selected></option>
                        <option>Sciences</option>
                        <option>Lettres</option>
                        <option>Sciences de la société</option>
                        <option>Économie et management</option>
                        <option>Droit</option>
                        <option>Théologie</option>
                        <option>FPSE Psychologie</option>
                        <option>FPSE Sciences de l’éducation</option>
                        <option>Traduction et interprétation</option>
                        <option>Global Studies Institute</option>
                        <option>École de langue et civilisation françaises</option>
                    </select>

                    <label for="unigeTargetDiploma" class="form-label">Dénomination du titre postulé au sein de la faculté/institut/centre</label>
                    <input id="unigeTargetDiploma" type="text" v-model="unigeTargetDiploma" class="form-control mb-3">
                    <div class="row">
                        <div id="unigeArtFacultyHelp" class="form-text">Pour les candidat‑es au baccalauréat universitaire à la Faculté des lettres</div>
                        <div class="col-6">
                            <label for="unigeArtFacultyA" class="form-label">Branche A</label>
                            <input id="unigeArtFacultyA" type="text" v-model="unigeArtFacultyA" class="form-control mb-3" aria-describedby="unigeArtFacultyHelp">
                        </div>
                        <div class="col-6">
                            <label for="unigeArtFacultyB" class="form-label">Branche B</label>
                            <input id="unigeArtFacultyB" type="text" v-model="unigeArtFacultyB" class="form-control mb-3" aria-describedby="unigeArtFacultyHelp">
                        </div>
                    </div>

                    <div id="unigeTifFacultyHelp" class="form-text">Pour les candidat‑es au baccalauréat universitaire à la Faculté de traduction et d’interprétation</div>
                    <div class="row">
                        <div class="col-4">
                            <label for="unigeTifFacultyA" class="form-label">Langue A</label>
                            <input id="unigeTifFacultyA" type="text" v-model="unigeTifFacultyA" class="form-control mb-3" aria-describedby="unigeTifFacultyHelp">
                        </div>
                        <div class="col-4">
                            <label for="unigeTifFacultyB" class="form-label">Langue B</label>
                            <input id="unigeTifFacultyB" type="text" v-model="unigeTifFacultyB" class="form-control mb-3" aria-describedby="unigeTifFacultyHelp">
                        </div>
                        <div class="col-4">
                            <label for="unigeTifFacultyC" class="form-label">Langue C</label>
                            <input id="unigeTifFacultyC" type="text" v-model="unigeTifFacultyC" class="form-control mb-3" aria-describedby="unigeTifFacultyHelp">
                        </div>
                    </div>

                    <div id="unigeLawFacultyHelp" class="form-text">Pour la Faculté de droit</div>
                    <div class="row">
                    <div class="col-6">
                    <label for="unigeLawFacultyForeignLanguageExam" class="form-label">Langue étrangère choisie pour le deuxième examen écrit</label>
                    <select id="unigeLawFacultyForeignLanguageExam" v-model="unigeLawFacultyForeignLanguageExam" class="form-select mb-3 fw-bold" aria-describedby="unigeLawFacultyHelp">
                        <option selected></option>
                        <option>Allemand</option>
                        <option>Anglais</option>
                    </select>
                    </div>
                    <div class="col-6">
                    <label for="unigeLawFacultyThemeExam" class="form-label">Thème oral que vous souhaitez développer</label>
                    <textarea id="unigeLawFacultyThemeExam" type="text" v-model="unigeLawFacultyThemeExam" class="form-control mb-3" aria-describedby="unigeLawFacultyHelp" style="height: 70px"></textarea>
                    </div>
                    </div>
                </fieldset>
                <button class="btn btn-warning text-black my-3" style="color: black !important" type="reset" @click="reset"><i class="fa-solid fa-eraser"></i> Tout effacer</button>

            </form>
            <div class="row">
                <dl>
                    <dt>Documents requis à joindre à votre demande:</dt>
                    <dd>
                        <ul>
                            <li>Copie d’une pièce d’identité</li>
                            <li>Pour les personnes étrangères domiciliées en Suisse: copie du permis de séjour</li>
                            <li>Photo format passeport collée sur le formulaire</li>
                            <li>Lettre de motivation (2 pages maximum, pour la FPSE <a href="https://www.unige.ch/fapse/infospratiques/inscription/candidatdepourvusdecertificatdematurite" target="_blank">voir leurs conditions</a>)</li>
                            <li>Curriculum Vitæ</li>
                            <li>Certificats de travail, indiquant les dates de prise et de fin d’emploi, ainsi que le taux d’activité</li>
                            <li>Copie des diplômes scolaires et professionnels</li>
                            <li>Pour les personnes non-porteuses d’attestations de scolarité suisses: preuve de paiement de l’émolument de CHF 65.-</li>
                        </ul>
                    </dd>
                </dl>
                <div class="row bg-danger-subtle border border-4 border-danger text-danger-emphasis mb-3">
                    <div class="col-1 position-relative">
                        <i class="fa-solid fa-ban fa-lg position-absolute top-50"></i>
                    </div>
                    <p class="col-11 pt-2">Tout document requis non joint au dossier entraînera l’annulation de la demande d’immatriculation.</p>
                </div>
                <div class="row bg-warning-subtle border border-4 border-warning text-warning-emphasis mb-3">
                    <div class="col-1 position-relative">
                        <i class="fa-solid fa-arrows-split-up-and-left fa-lg position-absolute top-50"></i>
                    </div>
                    <p class="col-11 pt-2">Vous ne pouvez pas changer de faculté durant vos études tant que vous n’avez pas obtenu un grade universitaire. Si vous souhaitez choisir une autre orientation, vous devez introduire une nouvelle demande d’immatriculation dans les délais légaux, à savoir du 1<sup>er</sup> mars au 30 novembre.</p>
                </div>
            </div>

            <div class="row">
                <button class="col-3 mx-3 btn btn-secondary" @click="printOut"><i class="fa-solid fa-eye"></i> Afficher le PDF</button>
                <button class="col-3 mx-3 btn btn-primary" @click="downloadPdf"><i class="fa-solid fa-download"></i> Télécharger le PDF</button>
            </div>
        </div>
        
        
        <iframe id="iframePreviewPdf" class="col-12" title="Demande d’immatriculation à l’Université de Genève pour non titulaire d’un certificat de maturité" style="height: 50rem;"></iframe>
    </section>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./unige-logo.js"></script>
    <script src="./npm.js"></script>



</body>

</html>